<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<button id="customButton">Subscribe</button>

<script>

var handler = StripeCheckout.configure({
    key: 'pk_test_e1lLblBoS4QyXOqTHU4y5hne',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
      alert(token.id);

      //$.ajax({
      //    type: "POST",
      //    url: "OnlinePayment/CheckoutPayment/",
      //    data: {
      //        StipeToken: token.id,
      //        CustomerID: "1",
      //        ChargeAmount: 200
      //    }
      //});


      $.ajax({
          type: "POST",
          dataType: 'text',
          url: '/OnlinePayment/CheckoutPayment/',
          data: {
                StripeToken: token.id,
                CustomerID: "1",
                ChargeAmount: 500
          }
      });

  }
});


$('#customButton').on('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'www.Corearth.com',
    description: 'Online Payment',
zipCode: true,
    amount: 500
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
$(window).on('popstate', function() {
  handler.close();
});
</script>